ul li {
  text-decoration: none;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.App .header {
  padding: 25px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .header .navbar {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .header .navbar .nav-links .logo {
  font-style: italic;
  margin: 0 10px;
  font-size: 2.2rem;
  font-weight: 700;
}

.App .header .navbar .nav-links .logo span {
  color: #139d46;
}

.App .header .navbar .nav-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
}

.App .header .navbar .nav-links .links li {
  margin: 0 15px;
}

.App .header .navbar .login-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .header .navbar .login-signup li {
  margin: 0 15px;
  font-size: 1.1rem;
  font-weight: 600;
}

.App .header .navbar .login-signup li .sign-up {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background-color: #139d46;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/pexels-andrea-piacquadio-914931.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pexels-andrea-piacquadio-914931.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.banner .banner-container {
  text-align: center;
}

.banner .banner-container .banner-heading {
  font-size: 70px;
  font-weight: 600;
}

.banner .banner-container .banner-description {
  margin: 20px 0;
  font-size: 20px;
}

.banner .banner-container .banner-buttons {
  margin-top: 20px;
}

.banner .banner-container .banner-buttons .free-account-btn {
  margin: 0 15px;
  font-size: 20px;
  font-weight: 600;
  background-color: #139d46;
  border: 1px solid #139d46;
  color: #fff;
  padding: 15px 35px;
}

.banner .banner-container .banner-buttons .how-it-works-btn {
  margin: 0 15px;
  font-size: 20px;
  font-weight: 600;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 35px;
}

.why-choose-payyed {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why-choose-payyed .container {
  width: 1200px;
  padding: 100px 0;
  text-align: center;
}

.why-choose-payyed .container h1 {
  font-size: 40px;
}

.why-choose-payyed .container p {
  margin: 15px 0;
  font-size: 20px;
}

.why-choose-payyed .container .four-reasons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.why-choose-payyed .container .four-reasons .reason-box {
  margin: 0 10px;
  text-align: left;
}

.why-choose-payyed .container .four-reasons .reason-box p {
  color: #555;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.why-choose-payyed .container .four-reasons .reason-box a {
  font-size: 20px;
  color: #139d46;
  text-decoration: none;
}

.payment-solutions {
  background-color: #f0f0f0;
}

.payment-solutions .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-solutions .container .payment-solution-description {
  padding: 100px 0 100px 200px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment-solutions .container .payment-solution-description h1 {
  font-size: 40px;
}

.payment-solutions .container .payment-solution-description p {
  font-size: 20px;
  line-height: 1.6;
  margin: 15px 0;
}

.payment-solutions .container .payment-solution-description a {
  font-size: 20px;
  color: #139d46;
  text-decoration: none;
}

.payment-solutions .container .four-solutions {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.payment-solutions .container .four-solutions .sol-box1 {
  width: 100%;
  background: url(../images/freelance.jpg);
  background-size: cover;
}

.payment-solutions .container .four-solutions .sol-box2 {
  background: url(../images/shopping.jpg);
  background-size: cover;
}

.payment-solutions .container .four-solutions .sol-box3 {
  background: url(../images/seller.jpg);
  background-size: cover;
}

.payment-solutions .container .four-solutions .sol-box4 {
  background: url(../images/marketting.jpg);
  background-size: cover;
}

.payment-solutions .container .four-solutions .sol-image-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.payment-solutions .container .four-solutions .sol-image-box .sol-name {
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.do-with-payyed {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.do-with-payyed .container {
  width: 1200px;
  padding: 100px 0;
  text-align: center;
}

.do-with-payyed .container .do-with-box-container {
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.do-with-payyed .container .do-with-box-container .do-with-box {
  margin: 0 10px;
  border: 2px solid #f0f0f0;
}

.do-with-payyed .container .do-with-box-container .do-with-box .do-with-image {
  width: 60px;
  padding: 40px 30px;
}

.do-with-payyed .container .do-with-box-container .do-with-box .do-with-heading {
  padding: 10px 15px;
  font-weight: 700;
  font-size: 20px;
  background-color: #f0f0f0;
}

.do-with-payyed a {
  font-size: 20px;
  color: #139d46;
  text-decoration: none;
}

.how-it-works {
  background-color: #f0f0f0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works .container {
  width: 1200px;
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.how-it-works .container .working-video img {
  height: 100%;
  width: 500px;
}

.how-it-works .container .working-description p {
  margin-top: 20px;
  font-size: 20px;
}

.how-it-works .container .working-description .working-points {
  margin-top: 20px;
}

.how-it-works .container .working-description .working-points li {
  font-size: 20px;
  list-style: disc;
}

.how-it-works .container .working-description .free-account {
  margin-top: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #139d46;
  font-size: 20px;
  color: #139d46;
  padding: 10px 25px;
}

.what-people-say {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what-people-say .people-say-container {
  padding: 100px 0;
  width: 1200px;
  text-align: center;
}

.what-people-say .people-say-container .people-say-heading {
  font-size: 40px;
}

.what-people-say .people-say-container p {
  margin-top: 10px;
  font-size: 20px;
}

.what-people-say .people-say-container .review-box-container {
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.what-people-say .people-say-container .review-box-container .review-box {
  margin: 0 15px;
  border-radius: 5px;
  padding: 25px 25px;
  -webkit-box-shadow: 0 2px 10px 4px #f0f0f0;
          box-shadow: 0 2px 10px 4px #f0f0f0;
}

.what-people-say .people-say-container .review-box-container .review-box .review-content {
  font-size: 20px;
}

.what-people-say .people-say-container .review-box-container .review-box .reviewer-name {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.what-people-say .people-say-container .review-box-container .review-box .reviewer-position {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #a0a0a0;
}

.what-people-say .people-say-container a {
  font-size: 20px;
  text-decoration: none;
  color: #139d46;
}

.customer-support {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #139d46;
}

.customer-support .customer-support-container {
  padding: 100px 0;
  width: 1200px;
  text-align: center;
}

.customer-support .customer-support-container .customer-support-heading {
  color: #fff;
  font-size: 40px;
}

.customer-support .customer-support-container p {
  margin: 30px 0;
  color: #fff;
  font-size: 20px;
}

.customer-support .customer-support-container .find-out-more {
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #139d46;
  background-color: #fff;
}

.get-app {
  background-color: #f0f0f0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-app .get-app-container {
  padding: 100px 0;
  width: 1200px;
  text-align: center;
}

.get-app .get-app-container .get-app-heading {
  font-size: 40px;
}

.get-app .get-app-container p {
  font-size: 20px;
}

.get-app .get-app-container .app-image {
  margin-top: 20px;
}

.get-app .get-app-container .app-image .store {
  height: 60px;
  width: 360px;
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container {
  padding: 100px 0;
  width: 1200px;
}

.footer .footer-container .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-container .footer-top .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .footer-top .footer-links li {
  font-size: 18px;
  font-weight: 600;
  margin: 0 15px;
}

.footer .footer-container .footer-top .social-media-links a img {
  height: 40px;
  width: 40px;
}

.footer .footer-container .footer-bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-container .footer-bottom .bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-container .footer-bottom .bottom-links li {
  margin: 0 15px;
}
/*# sourceMappingURL=style.css.map */